$background-color: #222222;

%no-margin-and-paddings{
margin: 0;
padding: 0;
}

%flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

%top-squares{
  width: 100px;
  color: white;
  background-color: $background-color;
  margin: 0 10px;
  outline: none;
  border: 2px solid black;
  padding-left: 10px;
  outline: none;
  cursor: pointer;
}

body {
  @extend %no-margin-and-paddings;
  background-color: $background-color;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  @extend %flex-box;
  width: 100vw;
  min-height: 100vh;
}

.title {
  border-bottom: 0.5px solid gray;
  width: 90vw;
  text-align: center;
  line-height: 100px;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  li{
    width: 75vw;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid #e1e4e8; 
  }
  li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    width: auto;
  }
  li:first-child {
    width: 75vw;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid #e1e4e8; 
  }
}

li{
  list-style-type: none;
}

h2 {
  color: #a0b4c8;
}

h3 {
  color: #AEAEAE;
}

.dropdown {
  position: absolute;
}

.inputs {
  margin-left: 100px;
}

input {
  @extend %top-squares
}

.x {
  background-color: $background-color;
  outline: none;
  border: none;
  color: white;
  margin-left: 0px;
}

.x:focus{
  outline:0;
}

.ascending {
  @extend %top-squares;
  width: 200px;
  margin: 0px 10px 0px 420px;
}

.ascending:focus{
  outline:0;
}

.descending {

  @extend %top-squares;
  width: 200px;
  margin: 0px 10px 0px 10px;
}

.descending:focus{
  outline:0;
}

form {
  width: 500px;
  position: absolute;
}